## RECOMMENDER TEST

In [1]:
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances

In [2]:
pd.set_option('display.max_rows',None)

In [3]:
wine = pd.read_csv('./data/wine_catalog.csv')
wine.head()

,Unnamed: 0,winery,wine,rating,wine_style,wine_category,vintage,region,country,price,contact_for_price,wine_style_code,wine_category_code,region_code,country_code
0,0,Caymus,Cabernet Sauvignon N.V.,4.6,Cabernet Sauvignon,Red,N.V.,Napa Valley,United States,79.05,NaN,15,2,587,36
1,1,The Prisoner,The Prisoner N.V.,4.4,Blend,Red,N.V.,Napa Valley,United States,39.75,NaN,10,2,587,36
2,2,Masi,Costasera Amarone della Valpolicella Classico ...,4.3,Valpolicella,Red,N.V.,Amarone della Valpolicella Classico,Italy,54.99,NaN,86,2,34,19
3,3,Stag's Leap Wine Cellars,ARTEMIS Cabernet Sauvignon N.V.,4.3,Cabernet Sauvignon,Red,N.V.,Napa Valley,United States,59.99,NaN,15,2,587,36
4,4,Banfi,Brunello di Montalcino N.V.,4.2,Brunello,Red,N.V.,Brunello di Montalcino,Italy,65.98,NaN,12,2,120,19

In [4]:
wine = wine.fillna("")

In [5]:
wine.drop(['Unnamed: 0','winery','wine_style','wine_category','vintage','region','country','price','contact_for_price','wine_style_code','wine_category_code','region_code','country_code'],axis=1,inplace=True)

In [6]:
wine.head()

                                                wine  rating
0                            Cabernet Sauvignon N.V.     4.6
1                                  The Prisoner N.V.     4.4
2  Costasera Amarone della Valpolicella Classico ...     4.3
3                    ARTEMIS Cabernet Sauvignon N.V.     4.3
4                        Brunello di Montalcino N.V.     4.2