In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [96]:
df_1=pd.read_csv('../scraped_data/wine_file_sparkling_rating.csv')
df_2=pd.read_csv('../scraped_data/wine_file_sparkling_rating.csv')
df_3=pd.read_csv('../scraped_data/wine_file_sparkling_rating.csv')
df_4=pd.read_csv('../scraped_data/wine_file_sparkling_rating.csv')

In [97]:
df_1.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Dom Pérignon,Brut Champagne 1996,France\n·\nChampagne,4.7,$399
1,1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France\n·\nChampagne,4.7,$349.99
2,2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France\n·\nChampagne,4.7,$299.99
3,3,Dom Pérignon,Brut Rosé Champagne 1993,France\n·\nChampagne,4.7,$450
4,4,Schramsberg,J. Schram Brut Rosé 2010,United States\n·\nNorth Coast,4.7,$177.99

In [6]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
Unnamed: 0    2575 non-null int64
winery        2575 non-null object
wine          2575 non-null object
location      2574 non-null object
rating        2575 non-null float64
price         2575 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 120.8+ KB

In [7]:
df_2.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Dom Pérignon,Brut Champagne 1996,France\n·\nChampagne,4.7,$399
1,1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France\n·\nChampagne,4.7,$349.99
2,2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France\n·\nChampagne,4.7,$299.99
3,3,Dom Pérignon,Brut Rosé Champagne 1993,France\n·\nChampagne,4.7,$450
4,4,Schramsberg,J. Schram Brut Rosé 2010,United States\n·\nNorth Coast,4.7,$177.99

In [8]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
Unnamed: 0    2575 non-null int64
winery        2575 non-null object
wine          2575 non-null object
location      2574 non-null object
rating        2575 non-null float64
price         2575 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 120.8+ KB

In [9]:
df_3.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Dom Pérignon,Brut Champagne 1996,France\n·\nChampagne,4.7,$399
1,1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France\n·\nChampagne,4.7,$349.99
2,2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France\n·\nChampagne,4.7,$299.99
3,3,Dom Pérignon,Brut Rosé Champagne 1993,France\n·\nChampagne,4.7,$450
4,4,Schramsberg,J. Schram Brut Rosé 2010,United States\n·\nNorth Coast,4.7,$177.99

In [10]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
Unnamed: 0    2575 non-null int64
winery        2575 non-null object
wine          2575 non-null object
location      2574 non-null object
rating        2575 non-null float64
price         2575 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 120.8+ KB

In [11]:
df_4.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Dom Pérignon,Brut Champagne 1996,France\n·\nChampagne,4.7,$399
1,1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France\n·\nChampagne,4.7,$349.99
2,2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France\n·\nChampagne,4.7,$299.99
3,3,Dom Pérignon,Brut Rosé Champagne 1993,France\n·\nChampagne,4.7,$450
4,4,Schramsberg,J. Schram Brut Rosé 2010,United States\n·\nNorth Coast,4.7,$177.99

In [12]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
Unnamed: 0    2575 non-null int64
winery        2575 non-null object
wine          2575 non-null object
location      2574 non-null object
rating        2575 non-null float64
price         2575 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 120.8+ KB

In [13]:
sparkling_df=pd.concat([df_1,df_2,df_3,df_4],axis=0)

In [17]:
sparkling_df.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Dom Pérignon,Brut Champagne 1996,France\n·\nChampagne,4.7,$399
1,1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France\n·\nChampagne,4.7,$349.99
2,2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France\n·\nChampagne,4.7,$299.99
3,3,Dom Pérignon,Brut Rosé Champagne 1993,France\n·\nChampagne,4.7,$450
4,4,Schramsberg,J. Schram Brut Rosé 2010,United States\n·\nNorth Coast,4.7,$177.99

In [18]:
sparkling_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10300 entries, 0 to 2574
Data columns (total 6 columns):
Unnamed: 0    10300 non-null int64
winery        10300 non-null object
wine          10300 non-null object
location      10296 non-null object
rating        10300 non-null float64
price         10300 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 563.3+ KB

In [19]:
sparkling_df.reset_index(level=None, drop=True, inplace=True)

In [21]:
sparkling_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [22]:
sparkling_df['wine_category']="Sparkling"

In [23]:
sparkling_df["location"]= sparkling_df["location"].str.replace("\n·\n", "_", case = False)

In [24]:
sparkling_df[['country','region']] = sparkling_df.location.apply(lambda x: pd.Series(str(x).split("_")))

In [26]:
sparkling_df.head()

,winery,wine,location,rating,price,wine_category,country,region
0,Dom Pérignon,Brut Champagne 1996,France_Champagne,4.7,$399,Sparkling,France,Champagne
1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France_Champagne,4.7,$349.99,Sparkling,France,Champagne
2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France_Champagne,4.7,$299.99,Sparkling,France,Champagne
3,Dom Pérignon,Brut Rosé Champagne 1993,France_Champagne,4.7,$450,Sparkling,France,Champagne
4,Schramsberg,J. Schram Brut Rosé 2010,United States_North Coast,4.7,$177.99,Sparkling,United States,North Coast

In [27]:
sparkling_df['vintage']=""

In [28]:
def vintage (x):
    sparkling_df.loc[sparkling_df['wine'].str.contains(x),'vintage']= x

In [39]:
#Estabish a list of vintages as strings we can loop through with our function to populate the full vintage column  
#After initial run of loop, backfilled vintages for 40 observations to this list
vintage_list = ['N.V.', '1911','1928','1961','1982','1983','1985','1986','1987','1988','1989','1990', '1991', '1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']

In [40]:
for i in vintage_list: 
    vintage (i)

In [41]:
sparkling_df['vintage'].value_counts(),

(N.V.    5632
 2008     740
 2004     516
 2011     388
 2012     364
 2005     316
 2009     260
 2002     228
 2010     208
 2006     196
 2013     184
 2014     168
 2017     156
 2016     148
 2007     128
 2018     120
 2015     112
 1998      72
 2000      60
 1999      48
 1996      44
 1995      32
 1990      28
 2003      24
 1928      16
 2019      16
 1993      12
 1961      12
 1997      12
 2001       8
 1989       8
 1985       8
 1992       8
 1988       8
 1911       8
 1982       4
 1983       4
 1986       4
 Name: vintage, dtype: int64,)

In [81]:
sparkling_wine_style_list=['Cava','cava','Champagne','Lambrusco','Prosecco','Rose','Rosa','Rosé','Blanc de Blanc','Brut','Cuvee','Moscato','Spumante','Sec','Demi-Sec','Doux','Blanc de Noir','Pinot Noir','Crémant']

In [82]:
sparkling_df['wine_style']=""

In [83]:
#this is the function we will run to extract the winestyle from the wine column
def winestyle(x):
    sparkling_df.loc[sparkling_df['wine'].str.contains(x),'wine_style'] = x

In [84]:
for i in sparkling_wine_style_list:
    winestyle(i)

In [89]:
sparkling_df['wine_style'] =sparkling_df['wine_style'].replace("",'Sparkling')

In [90]:
sparkling_df['wine_style'].value_counts()

Brut              6448
Sparkling          644
Prosecco           500
Rosé               468
Champagne          456
Moscato            392
Crémant            380
Blanc de Blanc     272
Pinot Noir         164
Blanc de Noir      128
Rosa               124
Sec                 72
Demi-Sec            68
Spumante            60
Lambrusco           48
Cava                36
Cuvee               16
Rose                16
cava                 4
Doux                 4
Name: wine_style, dtype: int64

In [92]:
sparkling_df.head()

,winery,wine,location,rating,price,wine_category,country,region,vintage,wine_style
0,Dom Pérignon,Brut Champagne 1996,France_Champagne,4.7,$399,Sparkling,France,Champagne,1996,Brut
1,Dom Pérignon,P2 Plénitude Brut Champagne 2002,France_Champagne,4.7,$349.99,Sparkling,France,Champagne,2002,Brut
2,Veuve Clicquot,La Grande Dame Brut Rosé Champagne 1998,France_Champagne,4.7,$299.99,Sparkling,France,Champagne,1998,Brut
3,Dom Pérignon,Brut Rosé Champagne 1993,France_Champagne,4.7,$450,Sparkling,France,Champagne,1993,Brut
4,Schramsberg,J. Schram Brut Rosé 2010,United States_North Coast,4.7,$177.99,Sparkling,United States,North Coast,2010,Brut

In [94]:
sparkling_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10300 entries, 0 to 10299
Data columns (total 10 columns):
winery           10300 non-null object
wine             10300 non-null object
location         10296 non-null object
rating           10300 non-null float64
price            10300 non-null object
wine_category    10300 non-null object
country          10300 non-null object
region           10296 non-null object
vintage          10300 non-null object
wine_style       10300 non-null object
dtypes: float64(1), object(9)
memory usage: 804.8+ KB

In [91]:
sparkling_df.to_csv('./sparkling_master.csv')