In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
port_df=pd.read_csv('../scraped_data/wine_file_port_popular.csv')

In [70]:
port_df

,Unnamed: 0,winery,wine,location,rating,price
0,0,W. & J. Graham's,10 Year Old Tawny Port N.V.,Portugal\n·\nPorto,4.1,$32.99
1,1,Taylor's,10 Year Old Tawny Port N.V.,Portugal\n·\nPorto,4.0,$27.99
2,2,W. & J. Graham's,20 Year Old Tawny Port N.V.,Portugal\n·\nPorto,4.3,$49.99
3,3,Taylor's,20 Year Old Tawny Port N.V.,Portugal\n·\nPorto,4.3,$49.97
4,4,Toro Albalá,Don PX Gran Reserva N.V.,Spain\n·\nMontilla-Moriles,4.4,$64.89
...,...,...,...,...,...,...
868,868,Quinta de La Rosa,Vintage Port 2009,Portugal\n·\nPorto,3.9,View shops
869,869,Churchill's,Vintage Port 2000,Portugal\n·\nPorto,4.0,View shops
870,870,W. & J. Graham's,Quinta dos Malvedos Vintage Port 2009,Portugal\n·\nPorto,4.1,View shops
871,871,Cockburn's,Quinta dos Canais Vintage Port 2003,Portugal\n·\nPorto,4.0,View shops
872,872,Barros,Vintage Port 2000,Portugal\n·\nPorto,4.2,View shops

In [5]:
port_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 6 columns):
Unnamed: 0    873 non-null int64
winery        873 non-null object
wine          873 non-null object
location      872 non-null object
rating        873 non-null float64
price         873 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.0+ KB

In [6]:
port_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
port_df['wine_category']="Port"

In [8]:
port_df["location"]= port_df["location"].str.replace("\n·\n", "_", case = False)

In [9]:
port_df[['country','region']] = port_df.location.apply(lambda x: pd.Series(str(x).split("_")))

In [23]:
port_df.head()

,winery,wine,location,rating,price,wine_category,country,region,vintage
0,W. & J. Graham's,10 Year Old Tawny Port N.V.,Portugal_Porto,4.1,$32.99,Port,Portugal,Porto,N.V.
1,Taylor's,10 Year Old Tawny Port N.V.,Portugal_Porto,4.0,$27.99,Port,Portugal,Porto,N.V.
2,W. & J. Graham's,20 Year Old Tawny Port N.V.,Portugal_Porto,4.3,$49.99,Port,Portugal,Porto,N.V.
3,Taylor's,20 Year Old Tawny Port N.V.,Portugal_Porto,4.3,$49.97,Port,Portugal,Porto,N.V.
4,Toro Albalá,Don PX Gran Reserva N.V.,Spain_Montilla-Moriles,4.4,$64.89,Port,Spain,Montilla-Moriles,N.V.

In [25]:
port_df['vintage']=""

In [26]:
port_df['vintage'] = port_df['wine'].map(lambda val: val[-4:])

In [45]:
port_df.head(200)

,winery,wine,location,rating,price,wine_category,country,region,vintage
0,W. & J. Graham's,10 Year Old Tawny Port N.V.,Portugal_Porto,4.1,$32.99,Port,Portugal,Porto,N.V.
1,Taylor's,10 Year Old Tawny Port N.V.,Portugal_Porto,4.0,$27.99,Port,Portugal,Porto,N.V.
2,W. & J. Graham's,20 Year Old Tawny Port N.V.,Portugal_Porto,4.3,$49.99,Port,Portugal,Porto,N.V.
3,Taylor's,20 Year Old Tawny Port N.V.,Portugal_Porto,4.3,$49.97,Port,Portugal,Porto,N.V.
4,Toro Albalá,Don PX Gran Reserva N.V.,Spain_Montilla-Moriles,4.4,$64.89,Port,Spain,Montilla-Moriles,N.V.
...,...,...,...,...,...,...,...,...,...
195,Alvear,Solera 1830 Pedro Ximénez N.V.,Spain_Montilla-Moriles,4.5,$199.99,Port,Spain,Montilla-Moriles,N.V.
196,Quinta do Noval,Vintage Port 2015,Portugal_Porto,4.3,$87.99,Port,Portugal,Porto,2015
197,Croft,Vintage Port 2007,Portugal_Porto,4.0,$130.99,Port,Portugal,Porto,2007
198,Niepoort,Porto 10 Years Old Tawny 2010,Portugal_Porto,4.0,$45,Port,Portugal,Porto,2010
199,Osborne,Jerez-Xeres-Sherry Amontillado Solera AOS N.V.,Spain_Jerez-Xérès-Sherry,4.1,$379.99,Port,Spain,Jerez-Xérès-Sherry,N.V.

In [47]:
port_df['vintage'].value_counts(),

(N.V.    338
 2011     39
 2000     38
 2003     28
 1997     23
        ...
 1929      1
 1971      1
 1951      1
 1972      1
 1957      1
 Name: vintage, Length: 65, dtype: int64,)

In [53]:
port_wine_style_list=['Ruby','LBV','Late Bottled Vintage','White','Rosé','10','20','40','Tawny','Vintage','Crusted','Sherry','Medeira','Colheita']

In [54]:
port_df['wine_style']=""

In [55]:
#this is the function we will run to extract the winestyle from the wine column
def winestyle(x):
    port_df.loc[port_df['wine'].str.contains(x),'wine_style'] = x

In [56]:
for i in port_wine_style_list:
    winestyle(i)

In [58]:
port_df['wine_style'] =port_df['wine_style'].replace("",'Port')

In [59]:
port_df['wine_style'].value_counts()

Vintage     395
Port        141
Tawny       132
Colheita    107
20           35
Sherry       26
10           22
40            6
Ruby          4
LBV           2
White         2
Crusted       1
Name: wine_style, dtype: int64

In [61]:
port_df['wine_style']

0        Tawny
1        Tawny
2        Tawny
3        Tawny
4         Port
        ...
868    Vintage
869    Vintage
870    Vintage
871    Vintage
872    Vintage
Name: wine_style, Length: 873, dtype: object

In [65]:
port_df.head(250)

,winery,wine,location,rating,price,wine_category,country,region,vintage,wine_style
0,W. & J. Graham's,10 Year Old Tawny Port N.V.,Portugal_Porto,4.1,$32.99,Port,Portugal,Porto,N.V.,Tawny
1,Taylor's,10 Year Old Tawny Port N.V.,Portugal_Porto,4.0,$27.99,Port,Portugal,Porto,N.V.,Tawny
2,W. & J. Graham's,20 Year Old Tawny Port N.V.,Portugal_Porto,4.3,$49.99,Port,Portugal,Porto,N.V.,Tawny
3,Taylor's,20 Year Old Tawny Port N.V.,Portugal_Porto,4.3,$49.97,Port,Portugal,Porto,N.V.,Tawny
4,Toro Albalá,Don PX Gran Reserva N.V.,Spain_Montilla-Moriles,4.4,$64.89,Port,Spain,Montilla-Moriles,N.V.,Port
...,...,...,...,...,...,...,...,...,...,...
245,Warre's,Vintage Port 2003,Portugal_Porto,4.0,$65.98,Port,Portugal,Porto,2003,Vintage
246,Quinta de Roriz,Vintage Port 2000,Portugal_Porto,4.3,$58.99,Port,Portugal,Porto,2000,Vintage
247,D'Oliveiras,Terrantez Madeira 1971,Portugal_Madeira,4.5,$299.99,Port,Portugal,Madeira,1971,Port
248,Miles,Year 10 Old Malmsey Madeira Rich N.V.,Portugal_Madeira,3.9,$32.99,Port,Portugal,Madeira,N.V.,10
249,Quinta do Noval,Late Bottled Vintage Port 2012,Portugal_Porto,3.8,$26.97,Port,Portugal,Porto,2012,Vintage

In [66]:
port_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 10 columns):
winery           873 non-null object
wine             873 non-null object
location         872 non-null object
rating           873 non-null float64
price            873 non-null object
wine_category    873 non-null object
country          873 non-null object
region           872 non-null object
vintage          873 non-null object
wine_style       873 non-null object
dtypes: float64(1), object(9)
memory usage: 68.3+ KB

In [67]:
port_df.to_csv('./port_master.csv')